<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="processMonitorGroup">
      <section name="settings" type="Dev.ProcessMonitor.Config.MonitorSettingSection,Dev.ProcessMonitor"
               allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <processMonitorGroup>
    <settings>
      <apps>
        <add name="Dev.ProcessMonitor.FormTest"
             path="E:\Github\Dev.ProcessMonitor\Dev.ProcessMonitor.FormTest\bin\Debug\Dev.ProcessMonitor.FormTest.exe"
             args="">
        </add>
        <add name="Dev.ProcessMonitor.TestTargerExe"
             path="E:\Github\Dev.ProcessMonitor\Dev.ProcessMonitor.TestTargerExe\bin\Debug\Dev.ProcessMonitor.TestTargerExe.exe"
             args="">
        </add>
      </apps>
      <checker interval="5" errorRestart="true" maxErrorCount="10"></checker>
    </settings>
  </processMonitorGroup>
</configuration>