<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="processMonitorGroup">
      <section name="settings" type="Dev.ProcessMonitor.Config.MonitorSettingSection,Dev.ProcessMonitor"
               allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>


  <processMonitorGroup>
    <settings>
      <apps>
        <!--<add name="1" path="c:\window\aaa.exe" args="-a -t -s"></add>-->
        <add name="Dev.ProcessMonitor.TestTargerExe" path="E:\Github\Dev.ProcessMonitor\Dev.ProcessMonitor.TestTargerExe\bin\Debug\Dev.ProcessMonitor.TestTargerExe.exe" args="args"></add>
      </apps>
      <checker interval="60" errorRestart="true" maxErrorCount="10"></checker>
    </settings>
  </processMonitorGroup>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
